:root {
  // --bg: #000;
  --mainColor: #151515;
  --secondColor: #fff;
  --thirdColor: #0066FF;
  --font-first: "Inter", "san-serif";
  // --font-second: "Times New Roman";
}

@mixin media($size){
  @media (max-width: #{$size}px) {
    @content;
  }
}